# 忽略 Python 相关的缓存和依赖文件
__pycache__/
.venv/
venv/
*.pyc

# 忽略操作系统特定的文件 (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# 我们需要将 fwd-ip-list.rsc 提交回仓库，所以不能忽略它！
# -------------------------------------------------------------
# fwd-ip-list.rsc 
# -------------------------------------------------------------
